:root {
  --map-width: 975px;
  --content-max-width: 720px;
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  color: #212121;
  line-height: 1.5;
  font-size: 1rem;
  height: 100%;
}

canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #424242;
  line-height: 1.2;
}

a {
  color: currentColor;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
}

.loader-container {
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
}

.container {
  margin-inline: auto;
  padding: 3rem 1.5rem;
  display: grid;
  gap: 3rem;
  justify-items: center;
  min-height: 100%;
}

main,
footer {
  display: grid;
  gap: 3rem;
  justify-items: center;
}

footer {
  align-items: flex-end;
  max-width: var(--content-max-width);
}

.scrubber-container {
  justify-self: stretch;
  display: flex;
  justify-content: center;
}

.scrubber-container > * {
  flex-basis: var(--content-max-width);
}

.map-container {
  max-width: var(--map-width);
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.text-muted {
  color: #757575;
}

.tick text {
  font-size: 0.75rem;
}

.choropleth {
  position: relative;
  display: grid;
}

.choropleth > * {
  grid-area: 1 / 1;
  width: 100%;
  height: auto;
}

.choropleth > .svg-states {
  z-index: 1;
}

.choropleth .state-path {
  cursor: pointer;
  fill: #fff;
  fill-opacity: 0;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: all;
  transition: fill-opacity 0.15s;
}

.choropleth .state-path.is-active {
  fill-opacity: 0.85;
}

.choropleth .state-name {
  fill: currentColor;
  fill-opacity: 0;
  pointer-events: none;
  transition: fill-opacity 0.15s;
}

.choropleth .state-name.is-active {
  fill-opacity: 1;
}

button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #2171b5;
  border: 1px solid #2171b5;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  button {
    transition: none;
  }
}

button:hover {
  color: #fff;
  background-color: rgba(33, 113, 181, 0.85);
  border-color: rgba(33, 113, 181, 0.85);
}

.reset-button {
  position: absolute;
  width: initial;
  z-index: 2;
}

.choropleth .tooltip {
  width: initial;
}

.line-chart svg {
  display: block;
  overflow: visible;
  font-size: 0.75rem;
}

.line-chart .axis {
  color: #757575;
}
